@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;

}

:root{

    --cor1: #0D0D0D;
    --cor2: #F2F2F2;
    --cor3: #F24E29;
    --cor4: #D96E30;
    --cor5: #F2B807;


}

header{
background-color: var(--cor4);
text-align: center;
padding: 20px;
}
header > h1{
color: var(--cor2);
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.678);
    
}

header > p {
color: var(--cor2);
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.726);
padding-top: 9px;
}

nav{
background-color: var(--cor1);
padding: 2px;
display: flex;
justify-content: space-evenly;

}

nav > a{
color: var(--cor2);
text-decoration: none;
font-size: 16px;
border-radius: 0px 10px 10px 0px ;
padding: 3px;

}

nav > a:hover{
 background-color: var(--cor3);   

}
main h1{
padding: 10px 0px 10px 13px;
font-size: 28px;

}
main h2{
font-size: 20px;
padding: 2px 0px 7px 13px;

}

.delado{
   display: flex;
    border: 1px solid black;
    
    }

main img{
    display: flex;
    justify-content: start;
    margin: 10px;
    border: 1px solid black;
    
    }