@charset "UTF-8";


  @import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;600&display=swap');




*{
margin: 0%;
padding: 0%;

}

:root{

--cor1: #292E33;
--cor2: #283542;
--cor3: #2F5175;
--cor4: #2263A8;
--cor5: #006ADB;

--fonte_titulo: "Zilla Slab", arial, sans-serif;

}

nav{
padding: 10px;
background-image: linear-gradient(to right, var(--cor3), var(--cor2));
display: flex;
justify-content: center;

}

nav > a{
color: white;
text-decoration: none;
margin: 10px 15px 10px 10px;
background-color: var(--cor5);
padding: 7px;
border-radius: 10px;
display: flex;
align-items: center;
}

div.adaptar{
margin: 0%;
padding: 0%;
}

img.pequena{
width: 60px;
}
